.main {
    padding: 1.5rem;
    font-family: var(--main-font);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.icons {
    border: none;
    background: transparent;
}

.title {
    font-size: 1.25rem;
    
}

.productImage {
    width: 25%;
    height: 25%;
}

.divProduct {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
}

.productName {
    font-size: 1rem;
    font-weight: 400;
}

.price {
    font-weight: 700;
}

.divAddProduct {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;
}

.quantityButton {
    background: transparent;
    padding: 0 .5rem;
    border-radius: 8px;
    border: 1px solid var(--grey);
    font-size: 1.5rem;
}

.quantity {
    margin: 0 1.25rem;
}

.trashButton {
    background: transparent;
    border: none;
    opacity: 30%;
}

.divProceedToCheckout {
    position: fixed;
    bottom: 0;
    background-color: var(--main-color);
    padding: 1rem 0;
    margin-top: 90px;
}

.divTotalPrice {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}

.divTotalPrice p {
    color: var(--dark-grey);
    font-weight: 700;
}

.divTotalPrice span {
    font-weight: 700;
}

.buttonChceckout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
    width: 90vw;
    margin-top: 1rem;
}

.divEmptyCart {
    text-align: center;
}

.noProducts {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--dark-grey);
    padding-top: 2rem;
}

.emptyCart {
    opacity: 35%;
    text-align: center;
    margin-top: 2rem;
    width: 15%;
}