.divMain {
    font-family: var(--main-font);
}

.sectionTitle {
    padding: 1.5rem;
}

.featuredProducts {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
}

.seeAllProducts {
    font-size: 2rem;
    font-family: var(--second-font);
    margin-top: 1rem;
}

.buttonFilter {
    background-color: transparent;
    border: 1px solid var(--grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    padding: .75rem;
    margin: 1.5rem 0;
    width: 100%;
}

.divCarousel {
    background-color: var(--light-grey);
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
}

.cardProducts {
    background-color: var(--main-color);
    border-radius: 12px;
    flex-direction: column;
    padding: .75rem;
}

.cardProducts img {
    background: transparent;
    height: auto;
    margin: 0;
    width: auto;    
}

.cardProducts h1 {
    font-size: 1rem;
}

.cardProducts span {
    font-size: 1rem;
}

.bottomSheetBody {
    font-family: var(--main-font);
    padding: 1.5rem;
}

.bottomSheetHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-family: var(--second-font);
}

.bottomSheetClose {
    background: transparent;
    border: none;
}

.title {
    font-size: 1.25rem;
    font-weight: 400;
    margin: .75rem 0;
}

.sortBy {
    background: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    font-family: var(--main-font);
    font-size: 1rem;
    margin: 0 1rem 1rem 0;
    padding: .75rem;
}

.active {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--main-color);
}

.applyFilter {
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.75rem;
    padding: .75rem;
    width: 100%;
}

.divClearFilters {
    display: flex;
    gap: 1rem;
}

.clearFilters {
    background: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    font-family: var(--main-font);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;  
    padding: .5rem;
}

.clearFiltersIcon {
    height: 20px;
    opacity: 60%;
    width: 20px;
}
