.cardProducts {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
}

.imageProduct {
    background-color: var(--light-grey);
    border-radius: 10px;
    width: 25%;
    height: 25%;
    margin-right: 1.5rem;
}

.divInfos {
    width: 100%;
}

.title {
    font-size: 1.25rem;
    font-weight: 400;
}

.price {
    font-weight: 700;
}

.divRating {
    display: flex;
    justify-content: space-between;
    gap: .25rem;
    font-size: 14px;
}

.divStar {
    display: flex;
    align-items: center;
}

.rating {
    padding-right: .25rem;
}

.link {
    text-decoration: none;
    color: var(--second-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardProducts {
        width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .cardProducts {
        width: 400px;
    }
}