.container {
    margin: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.divIconAudio{
    display: flex;
}

.logo {
    font-family: var(--main-font);
    font-size: 1.5rem;
    margin-left: .75rem;
}

.userName {
    font-family: var(--main-font);
    margin-bottom: .75rem;
}

.title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2rem;
    color: var(--second-color);
}

.inputSearch {
    border: 1px solid var(--grey);   
    border-radius: 8px;
    outline: none;
    padding: 1rem 2.5rem;
    margin: 2rem 0 .75rem;
    width: 100%;
}

.inputSearch::placeholder {
    font-family: var(--main-font);
    color: var(--grey);
}

.searchIcon {
    position: relative;
    bottom: 3rem;
    left: .75rem;
}

.carouselSection {
    background-color: var(--light-grey);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1.5rem;
    width: 100%;
}

.buttonCategory {
    background-color:  transparent;
    border-radius: 1rem;
    border: none;
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--dark-grey);
    padding: .25rem .75rem;
    margin-bottom: 1.5rem;
}

.active {
    background-color:  var(--accent-color);
    color: var(--main-color);
}

.divSeeAll {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    margin: 1.5rem;
}

.seeAll {
    color: var(--dark-grey);
    text-decoration: none;
}

