@import url('../../global.css');

.container {
    background: linear-gradient(72deg, rgba(10, 207, 131, 0.20) 0%, rgba(123, 97, 255, 0.18) 61.08%, rgba(10, 207, 131, 0.20) 100%);
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

.sectionForgot {   
    text-align: center;
}   

.title {
    color: var(--accent-color);
    font-size: 2rem;
    margin-top: 2rem;
}

.divInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.inputEmail {
    border: 1px solid var(--grey);
    border-radius: 10px;
    outline: none;
    padding: 1.25rem;
}

.inputEmail::placeholder {
    color: var(--grey);
    font-size: 1rem;
}

.buttonResetPassword {
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--main-font);
    padding: 1.25rem;
}

.footer {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-weight: 700;
    margin-top: 8rem;
}

@media screen and (min-width: 1024px) {
    .container {
        background: linear-gradient(72deg, rgba(10, 207, 131, 0.20) 0%, rgba(123, 97, 255, 0.18) 61.08%, rgba(10, 207, 131, 0.20) 100%), url('./img/forgotPasswordBackground.png');
        align-items: flex-start;
    }
    
    .sectionForgot {
        width: 60%;
    }

    .divInput {
        padding: 0 5rem;
    }

    .footer {
        text-align: center;
    }
}