@import url('../../global.css');

.container {
    background: linear-gradient(-45deg, var(--light-green), #ffffff, var(--light-green));
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backButton {
    border: none;
    background: transparent;
}

.sectionForgot {
    text-align: center;   
}   


.title {
    color: var(--accent-color);
    font-size: 2rem;
    margin-top: 2rem;
}

.divInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.inputEmail {
    border: 1px solid var(--grey);
    border-radius: 10px;
    outline: none;
    padding: 1.25rem;
}

.inputEmail::placeholder {
    color: var(--grey);
    font-size: 1rem;
}

.buttonResetPassword {
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--main-font);
    padding: 1.25rem;
}

.footer {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-weight: 700;
}

