.containerSearch {
    font-family: var(--main-font);
    padding: 1.5rem;
}

.searchTitle {
    font-size: 1.25rem;
}

.searchBar {
    padding: 1rem 2.5rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--grey);   
    margin: 2rem 0 1rem;
    outline: none;
}
    
.searchBar::placeholder {
    color: var(--grey);
    font-family: var(--main-font);
}

.searchIcon {
    position: relative;
    bottom: 3.25rem;
    left: .75rem;
}

.products {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.notFoundProduct {
    color: var(--dark-grey);
    font-style: italic;
}

