.divFeaturedProducts {
    background-color: var(--main-color);
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--main-font);
}

.productTitle {
    font-size: 1rem;
    font-weight: 400;
}

.productPrice {
    font-weight: 700;
    font-size: .75rem;
}

.link {
    text-decoration: none;
    color: var(--second-color);
}


@media screen and (min-width: 1024px) {
    .productTitle {
        font-size: .85rem;
    }
}