.divMain {
    font-family: var(--main-font);
}

.divTitle {
    padding: 1.5rem;
}

.price {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.25rem;
}

.title {
    font-family: var(--second-font);
    font-size: 2rem;
    margin: 1rem 0;
}

.buttonSection {
    font-family: var(--main-font);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    margin-right: 1.5rem;
    margin-bottom: 1.25rem;
}

.active {
    border-bottom: 2px solid var(--accent-color);
}

.review {
    font-size: 1rem;
    margin: 2rem 0;
}

.divReview {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.user {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.description {
    font-size: 1rem;
    margin-top: .75rem;
}

.divSeeAll {
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 0;
}

.seeAll {
    text-decoration: none;
    color: var(--dark-grey);
}

.divCarousel {
    margin-bottom: 4rem;
}

.divAnotherProduct {
    background-color: var(--light-grey);
    padding: 0 1.5rem;
}

.buttonAddToCart {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
    padding: 1rem;
    width: 90%;
    position: fixed;
    bottom: 1rem;
    margin: 0 auto;
    z-index: 999;
}

.subtitle {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.text {
    line-height: 1.5rem;
    margin-bottom: .75rem;
}