.divMain {
    font-family: var(--main-font);
}

.divBackBar {
    padding: 1.5rem;
}

.divTitle {
    padding: 1.5rem;
}

.price {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.25rem;
}

.title {
    font-family: var(--second-font);
    font-size: 2rem;
    margin: 1rem 0;
}

.buttonSection {
    background-color: transparent;
    border: none;
    font-family: var(--main-font);
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.25rem;
}

.active {
    border-bottom: 2px solid var(--accent-color);
}

.review {
    font-size: 1rem;
    margin: 2rem 0;
}

.divReview {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.user {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.description {
    font-size: 1rem;
    margin-top: .75rem;
}

.divSeeAll {
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 0;
}

.seeAll {
    color: var(--dark-grey);
    text-decoration: none;
}

.divCarousel {
    margin-bottom: 4rem;
}

.divDetails {
    padding: 0 1.5rem;
}

.divAnotherProduct {
    background-color: var(--light-grey);
    padding: 0 1.5rem;
}

.anotherProduct {
    font-weight: 700;
}

.buttonAddToCart {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    bottom: 1rem;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    position: fixed;
    margin: 0 auto;
    width: 90%;
    z-index: 999;
}

.subtitle {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.text {
    line-height: 1.5rem;
    margin-bottom: .75rem;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .divTitle {
        padding: 0 5rem;
        margin: 0 auto;
    }    

    .divAnotherProduct {
        padding: .75rem 3rem;
        margin-bottom: 8rem;
    }

    .buttonAddToCart {
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
    }
} 

@media screen and (min-width: 1024px) {
    .divMain {
        background-color: var(--light-grey);
        background-image: url('./img/productBackground.svg');
        background-repeat: no-repeat;
        background-position: cover;
        padding: 3rem 0;
        margin: 0 3rem;
        border-radius: 1.5rem;
    }
    
    .divTitle {
        padding: 0 4rem;
        display: flex;
        margin: auto;
    }  

    .sectionImages {
        padding: 1.5rem 1.5rem 1.5rem 0;
        display: flex;
        gap: 2rem
    }

    .buttonAddToCart {
        right: 0;
        position: absolute;
        margin: 1.5rem 5rem;
        width: 35%;
        z-index: 0;
    }

    .divAnotherProduct {
        background-color: var(--light-grey);
        padding: 0 1.5rem;
        margin: 8rem 0 0;
    }    
} 